<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />

<title>Test ZonaNube</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->


</head>

<body>

	<div class="container">

		<h1>Hola mundo!</h1>

		<form action="#" method="post" class="form">
			<div th:each="elemento : ${elementos}" class="form-group">
				<label th:for="${elemento.key}"><span
					th:text="${elemento.key}"></span>:</label> <input type="text"
					class="form-control" th:id="${elemento.key}"
					th:name="${elemento.key}" th:value="${elemento.value}" />
			</div>
		</form>

	</div>
	<!-- /container -->

</body>
</html>